{% load static %}

<html>
<head>
    <title>Tic. Tac. Toe.</title>
    <meta name="viewport" content="width=600,user-scalable=no" />

    {% block css %}
    {# bootstrap from bootstrapcdn. replace if that makes you nervous #}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
    html, body {
        height: 100%;
        min-height: 100%;
    }
    .content {
        margin: 0 auto 0 auto;
        width: 85%;
        height: 85%;
        max-width: 600px;
    }
    h1 {
        font-size: 4em;
        text-align: center;
    }
    </style>
    {% endblock css %}
</head>
<body>
    <h1 class="page-header">{% block page_header %}Tic. Tac. Toe.{% endblock page_header %}</h1>

    <div class="content">
    {% block content %}
        <p>Hello world.</p>
    {% endblock content %}
    </div>

    {% block js %}
    {# jquery, handlebars, and underscore from cdnjs and google. replace if that makes you nervous #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    {% endblock js %}
</body>
</html>
