/* django tic_tac_toe app css */

/* tic-tac-toe board table */
table {
    font-size: 5em;
    width: 100%;
}
table td {
    height: 2em;
    padding: 0.5em;
    text-align: center;
    border-right: solid 1px black;
}
table td:last-child { border-right: none; }
table tr.row1 td { border-bottom: solid 1px black;}
table tr.row2 td { border-bottom: solid 1px black;}
table td.X { color: green; }
table td.O { color: #c7254e; }
table td:hover {
    cursor: pointer;
    background-color: #efefef;
}
table td.X:hover, table td.O:hover {
    cursor: auto;
    background-color: #fff;
}

/* scoreboard */
.scoreboard {
    margin: 0.5em 0 1em 0;
    overflow: hidden;
}
.player {
    font-size: 2em;
    font-weight: 200;
    color: #999;
    width: 50%;
    float: left;
}

.player.computer { text-align:right; }
.player.computer .active { display: none; }
.player.computer.active .active { display: block; }
.player.computer.active .inactive { display: none; }

.player.active { font-weight: bold; }
.human.active { color: green; }
.computer.active { color: #C0627A; }

.result {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
